html {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #000;
  color: white;
}

#root {
  display: grid;
  grid-template-areas:
    "aside main main"
    "player player player";
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr auto;
  padding: 10px;
  gap: 20px;
  height: 100vh;
}

.aside-menu {
  grid-area: aside;
  display: flex;
  flex-direction: column;
}

.user-controls,
.logo-card {
  min-height: 350px;
  margin-bottom: 20px;
  padding: 24px;
}

.recent-items {
  flex-grow: 1;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  min-height: 100px;
}

.grid-card {
  background: linear-gradient(180deg, #292929 0%, #121212 100%);
  padding: 40px 60px;
}

.greeting {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.grid-card-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
}

.rounded-section {
  border-radius: 20px;
  background-color: #121212;
}

.card {
  max-height: 420px;
  position: relative;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

.card:hover {
  background-color: #292929;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-title {
  font-size: 14;
  font-weight: 600;
  text-transform: uppercase;
}

.card-description {
  font-size: 12;
  font-weight: 400;
}

.card-link {
  text-decoration: none;
  color: white;
}

.footer {
  grid-area: player;
  min-height: 100px;
  position: fixed;
  left: 0;
  bottom: -100px;
  background: linear-gradient(90deg, #1499b6 0%, #fe00e5 100%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transition: bottom 0.5s ease;
  z-index: 4;
}

.footer.enabled-player {
  bottom: 0;
}

.footer-button {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
}

.current-song {
  display: flex;
  align-items: center;
  gap: 20px;
}
.current-song-img {
  width: 80px;
  height: auto;
}

.current-song-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -12px;
}

.footer.enabled-player .footer-button {
  display: block;
  opacity: 1;
}

.footer.enabled-player .footer-button {
  opacity: 1;
}

.footer.disabled-player .footer-button,
.footer.disabled-player .current-song {
  display: none;
  opacity: 0;
}

.player-icon,
.pause-icon {
  color: black;
  width: 20px;
  height: 20px;
}

.volume-control {
  display: flex;
  align-items: center;
}

.volume-button {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  font: inherit;
  cursor: pointer;
}

.volume-icon {
  color: white;
  width: 30px;
  height: 30px;
  margin-right: 4px;
}

.volume-slider {
  margin-bottom: 8px;
  width: 220px;
}

input[type="range"].volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.500437675070028) 0%,
    rgba(255, 255, 255, 0.7049194677871149) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 75%
  );
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.card-play-button {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-80%, 100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: none;
  color: black;
  cursor: pointer;
}

.card:hover .card-play-button {
  background-color: white;

  transform: translate(-80%, 0);
  opacity: 1;
}

.banner {
  position: relative;
}

.banner-img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 40%,
    #121212 95%
  );
}

.playlist-dashboard {
  padding: 0 60px 60px;
  margin-bottom: 150px;
  display: flex;
}

.playlist-name {
  color: rgba(250, 250, 250, 0.6);
  font-weight: 600;
  border-bottom: 1px solid rgba(250, 250, 250, 0.6);
  display: flex;
  align-items: center;
}

.playlist-table {
  width: 70%;
}

.song {
  display: flex;
  align-items: center;
  padding: 4px 0;
  color: rgba(250, 250, 250, 0.6);
  max-height: 80px;
}

.song.is-playing {
  color: white;
}

.playlist-number,
.song-number {
  font-weight: 600;
  font-size: 30px;
  width: 5%;
  text-align: right;
  padding-right: 40px;
}

.playlist-title,
.song-info {
  width: 85%;
}

.song-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -8px;
}

.song-artist {
  font-size: 14px;
  font-weight: 300;
}

.playlist-duration,
.song-duration {
  text-align: center;
  width: 30%;
}

.pitch-control {
  width: 30%;
  position: relative;
}

.pitch-control label {
  position: absolute;
  top: 120px;
  left: 175px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(250, 250, 250, 0.6);
}

.playbackRate {
  position: absolute;
  left: 250px;
  color: rgba(250, 250, 250, 0.6);
}

.playbackRate.min {
  top: 160px;
}

.playbackRate.max {
  top: 540px;
}

input[type="range"].pitch-slider {
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(90deg);
  width: 400px;
  height: 300px;
  margin-top: 50%;
  position: relative;
  z-index: 3;
  background: transparent;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.pitch-slider::-webkit-slider-runnable-track {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid transparent;
}

.pitch-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 120px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.pitch-lines {
  position: absolute;
  top: 170px;
  left: 155px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

pitch-lines-relative {
  position: relative;
}

.pitch-line {
  border: 3px solid rgba(250, 250, 250, 0.4);
  border-radius: 2px;
  width: 20%;
  position: absolute;
}

.pitch-line:nth-child(2) {
  top: 20px;
}

.pitch-line:nth-child(3) {
  top: 40px;
}

.pitch-line:nth-child(4) {
  top: 60px;
}

.pitch-line:nth-child(5) {
  top: 80px;
}

.pitch-line:nth-child(6) {
  top: 100px;
}

.pitch-line:nth-child(7) {
  top: 120px;
}

.pitch-line:nth-child(8) {
  top: 140px;
}

.pitch-line:nth-child(9) {
  top: 160px;
}

.pitch-line:nth-child(10) {
  top: 180px;
}

.pitch-line:nth-child(11) {
  top: 200px;
}

.pitch-line:nth-child(12) {
  top: 220px;
}

.pitch-line:nth-child(13) {
  top: 240px;
}

.pitch-line:nth-child(14) {
  top: 260px;
}

.pitch-line:nth-child(15) {
  top: 280px;
}

.pitch-line:nth-child(16) {
  top: 300px;
}

.pitch-line:nth-child(17) {
  top: 320px;
}

.pitch-line:nth-child(18) {
  top: 340px;
}

.pitch-line:nth-child(19) {
  top: 360px;
}

.pitch-line:nth-child(20) {
  top: 380px;
}

.logo-row,
.logo-row a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  text-decoration: none;
  color: white;
}

.logo-title {
  font-size: 36px;
  font-weight: 600;
  margin-left: 10px;
  text-transform: uppercase;
}

.logo-img {
  width: 62px;
  height: auto;
}

.home-row a,
.search-row {
  display: flex;
  align-items: center;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 10px;
  text-decoration: none;
}

.home-row:hover,
.search-row:hover {
  color: white;
}

.home-icon,
.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 40px 0 20px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 6px;
}

.previous-btn,
.next-btn {
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

.previous-icon,
.next-icon {
  color: white;
  position: absolute;
  top: 20%;
  left: 25%;
  color: rgba(250, 250, 250, 0.6);
}

.previous-icon:hover,
.next-icon:hover {
  color: white;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-btn,
.register-btn {
  padding: 8px 16px;
  background-color: white;
  min-width: 150px;
  height: 40px;
  color: #333;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.register-page,
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.register-form,
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.register-form label,
.login-form label {
  width: 100%;
  margin-bottom: 12px;
}

.register-form input,
.login-form input {
  height: 50px;
  background-color: black;
  color: rgba(250, 250, 250, 0.6);
  border: 2px solid white;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 0 12px;
}

.register-form input::placeholder,
.login-form input::placeholder {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.error-message {
  background-color: red;
  color: white;
  width: 100%;
  padding: 12px;
  font-size: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.nickname-info {
  color: rgba(250, 250, 250, 0.6);
}

.selects-birthdate {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.selects-birthdate label {
  color: rgba(250, 250, 250, 0.6);
}

.select select {
  width: 100%;
  height: 50px;
  background-color: black;
  color: rgba(250, 250, 250, 0.6);
  border: 2px solid white;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 0 12px;
}

.day {
  width: 15%;
}

.month {
  width: 70%;
}

.year {
  width: 25%;
}

.legal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms,
.privacy {
  width: 80%;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 40px;
  text-align: center;
  font-size: 12px;
}

.register-form .register-btn,
.login-form .login-btn {
  width: 50%;
  align-self: center;
  margin-bottom: 40px;
}

.login-form .login-btn {
  font-size: 24px;
  padding: 12px;
  height: 54px;
  margin-top: 20px;
}

.register-page .login,
.login-page .register {
  color: rgba(250, 250, 250, 0.6);
}

.register-page .login a,
.login-page .register a {
  color: white;
}
